apiVersion: v1
kind: Service
metadata:
  name: sre-probe
  namespace: monitoring
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8000"
    prometheus.io/path: "/metrics"
spec:
  selector:
    app: sre-probe
  ports:
  - name: metrics
    port: 8000
    targetPort: 8000
